# LLM Providers
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
TOGETHER_API_KEY=
MISTRAL_API_KEY=
OPENROUTER_API_KEY=

# LLM Settings
DEFAULT_PROVIDER="openai"
DEFAULT_MODEL="gpt-4.1"

# Semantic Search
EMBEDDING_PROVIDER="local"
EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"
