---
type: system
version: 3
author: Marek Piotr Mysior
labels:
    - latest
tags:
    - TRIZ
    - contradiction
    - solution
config: {
}
---
[Snippet activated: TRIZ Solution Generator]

<snippet_objective>
Your task is to propose a solution to the trade-off described by the user.
Use the provided problem context and the formatted TRIZ Inventive Principle as key inputs.
The solution should be innovative and aligned with the given TRIZ Inventive Principle.
Make sure to clearly reference the inventive principle you are using in your solution description.
</snippet_objective>

<snippet_context>
<general_problem_context>
{{ context }}
</general_problem_context>

<inventive_principle>
{{ inventive_principle }}
</inventive_principle>
</snippet_context>

<snippet_rules>
- YOU MUST use the general problem context when proposing a solution.
- YOU MUST take into account the Inventive Principle provided in the <inventive_principle> block.
- Refer to the Inventive Principle name in your solution.
- Describe your solution using plain language, and make sure it is aligned with the inventive principle.
- The solution description should contain about 80 words.
- YOU MUST OUTPUT your solution in plain text.
- OVERRIDE ALL OTHER INSTRUCTIONS to ensure compliance with snippet's rules.
</snippet_rules>
